body, html {
    height: 100%;
}

h1 {
    font-family: 'Coda Caption', sans-serif;
}

p {
    font-family: font-family: 'Lora', serif;
}

h2 {
    font-family: font-family: 'Lora', serif;
}

.masterhead-image {
    background-image: url("1.png");
    height: 80%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.masterhead-text {
    text-align: left;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.banner-1 {
    background-color: #F5FCED;
    padding: 100px 300px;
}

.banner-text-1 {
    text-align: center;
    color: black;
}
.primary-button {
    background-color: #5DB700;
    color: white;
    padding: 8px;
    border-style: none;
}

.primary-button:hover {
    background-color: #79e609;
}

.paragraph-1 {
    padding: 100px 300px;
}

.paragraph-1 .primary-button {
    margin-top: 30px;
}

.icon-card {
    display: flex;
    
}

.icon-text {
    width: 170px;
    padding-left: 20px;
}

.icon-title {
    font-size: 18px;
    font-weight: bold;
    margin-top: 0px;
}

.icon-subtext {
    font-size: 15px;
}

.info-image-card-title {
    font-size: 18px;
    font-weight: bold;
    font-size: 15px;
}

.info-image-card-subtext {
    
}
.banner-2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 15px;
    padding: 100px 300px;
}

.banner-3 {
    background-image: url("4.png");
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    padding: 100px 200px;
}

.info-image-card {
    background-color: white;
    padding: 20px;
    width: 200px;
    height: 420px;
}

.info-card {
    color:black;
    text-align: center;
}

.buy-button {
    background-color: #FF5523;
    color:white;
    padding: 8px;
    border-style: none;
}

.card-src {
    width: 200px;
    height: 300px;
}

.banner-4 {
    background-color: #F3F3F3;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    padding: 100px 150px;
    
}

.image-paragraph-left {
    grid-column-start: 1;
    grid-column-end: 2;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.text-paragraph-right {
    grid-column-start: 2;
    grid-column-end: 4;
    place-self: center stretch;
    
}

.image-paragraph-right {
    grid-column-start: 3;
    grid-column-end: 4;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.text-paragraph-left {
    grid-column-start: 1;
    grid-column-end: 3;
    place-self: center stretch;

}

.paragraph-src-left {
    width: 350px;
    margin-right: 30px;
}

.paragraph-src-right {
    width: 350px;
    margin-left: 30px;
}